<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-container-left">
            <h1 class="navbar-container-left-title">
                WELCOME!
            </h1>
        </div>
        <div class="navbar-container-right">
            <a routerLink='/home' class="navbar-container-right-home">
                HOME
            </a>
            <a routerLink='/about' class="navbar-container-right-about">
                ABOUT
            </a>
            <a routerLink='/contact' class="navbar-container-right-contact">
                CONTACT
            </a>
        </div>
    </div>
</div>