<div class="about animate__animated animate__fadeIn animate__faster">
    <div class="about-top">
        <i id="arrow-right" class="fas fa-arrow-right" (click)="appearLeft()"></i>
        <div id="container-top" class="about-top-container">
            <h1 class="about-top-container-title">Lorem ipsum dolor sit.</h1>
            <p class="about-top-container-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia, soluta, officiis esse illum, tempora aut nihil accusamus aliquam odit iste odio omnis laudantium reiciendis commodi nobis! Nihil reprehenderit illo itaque nisi ut
                laudantium earum aperiam voluptate temporibus sunt placeat eos quidem obcaecati, hic architecto accusamus cumque, soluta praesentium, aliquid fugit. Omnis molestiae sit at sint aspernatur quia dolorem cum, aliquam eius error eaque sapiente
                rem ipsa, nobis numquam ex beatae laudantium illum. Porro dicta animi dignissimos expedita natus odit, ut quis, nulla dolore, quo mollitia sequi repellendus tenetur numquam?</p>
        </div>
    </div>
    <div class="about-bot">
        <i id="arrow-left" class="fas fa-arrow-left" (click)="appearRight()"></i>


        <div id="container-bot" class="about-bot-container">
            <h1 class="about-bot-container-title">Lorem, ipsum.</h1>
            <p class="about-bot-container-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquid officiis necessitatibus magni libero in ratione illo veniam dolorum commodi. Iure est numquam modi sequi consequuntur praesentium culpa quo maiores deleniti autem recusandae
                assumenda quisquam, explicabo tempore itaque ullam reprehenderit! Libero officia temporibus tempore expedita impedit! Ipsam delectus magnam voluptatibus est fuga earum, nihil deserunt aut iste quasi quaerat a ipsum perspiciatis possimus
                voluptate repellat dignissimos atque. Repellat, consequuntur. Aliquid?</p>
        </div>
    </div>
</div>