<div class="title-container animate__animated animate__fadeIn animate__faster">
    <h1 class="title-container-text">VOLLEYSKOL</h1>
</div>

<div class="image-container animate__animated animate__fadeIn animate__fast">
    <div class="image-container-one">
        <img class="image1" src="../../../assets/images/volley1.jpg">
    </div>
    <div class="image-container-two">
        <img class="image2" src="../../../assets/images/volley2.jpg">
    </div>
    <div class="image-container-three">
        <img class="image3" src="../../../assets/images/volley3.jpg">
    </div>
</div>