@import 'src/scss/variables';
@import 'src/scss/mixins';
.title-container {
    height: 65vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    &-text {
        font-family: $font-frijole;
        font-size: size(xl) + 100px;
        color: $color-primary;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $color-black;
        letter-spacing: 20px;
    }
}

.image-container {
    position: relative;
    &-one {
        .image1 {
            @include homeImages;
        }
    }
    &-two {
        .image2 {
            @include homeImages ($right: 1000px);
        }
    }
    &-three {
        .image3 {
            @include homeImages ($left: 1000px);
        }
    }
}