@import './variables';
@import './mixins';
body {
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}